// News
.@{class-prefix}-product-item {
  & .@{class-prefix}-link[class*="gx-meta-"] {
    display: inline-block;
    color: @text-color;
    font-size: @h6-font-size;
    font-weight: @font-weight-medium;
  }

  & .@{class-prefix}-link[class*="gx-meta-"] i {
    margin-right: 6px;
    vertical-align: middle;
  }

  & .@{class-prefix}-btn-list {
    & li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.motoMemberItems {
  width: 350px;

  @media screen and (max-width: @screen-xs-max) {
    width: 100vw;
  }
}

.gx-user-popover li {
  width: 100%;
}
