// News
.@{class-prefix}-product-item {
  & .@{class-prefix}-link[class*="gx-meta-"] {
    display: inline-block;
    color: @text-color;
    font-size: @h6-font-size;
    font-weight: @font-weight-medium;
  }

  & .@{class-prefix}-link[class*="gx-meta-"] i {
    margin-right: 6px;
    vertical-align: middle;
  }

  & .@{class-prefix}-btn-list {
    & li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.motoMemberItems {
  width: 350px;

  @media screen and (max-width: @screen-xs-max) {
    width: 100vw;
  }
}

.gx-user-popover li {
  width: 100%;
}

ul.motoHeader {
  li.motoHeaderMenuItem {
    a.motoHeaderMenuItemLink {
      color: #ffffff;
      &:hover,
      &:focus {
        color: @secondary-color;
      }
      .icon {
        margin-right: 7px;
      }
    }
  }
}

li.gx-user-nav {
  .gx-avatar {
    border: 0;
  }
}

.moto-animation-away {
  animation: away 2s infinite;
}

.moto-filter-checkbox {
  display: block;
  margin-right: 0;

  label.ant-checkbox-wrapper {
    display: block;
    margin-left: 0 !important;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.moto-badge {
  float: right;

  .ant-badge-count {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
  }
}

.news-detail {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.625rem;
    margin-left: -0.625rem;

    .col-sm-4 {
      @media screen and (min-width: @screen-md-min) {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }

    .col-sm-6 {
      @media screen and (min-width: @screen-md-min) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }

  h1 {
    font-size: 2em;
    font-weight: 500;
    @media screen and (min-width: @screen-md-min) {
      font-size: 2.5em;
    }
  }
}

.ant-form-hidden {
  display: none;
}

.gx-thumb-cover-img,
.gx-grid-thumb-cover img {
  height: inherit;
  object-fit: cover;
  object-position: 50% 50%;
}

.gx-product-horizontal .gx-product-image {
  position: relative;

  .ant-avatar {
    bottom: 20px;
    right: 20px;
    position: absolute;
  }
}

.gx-product-horizontal .gx-product-body {
  @media screen and (max-width: @screen-lg-max) {
    width: 66.66667%;
  }
  @media screen and (max-width: @screen-sm-max) {
    width: 100%;
  }
}

span.ant-page-header-heading-title {
  white-space: normal;
}
